---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('May 04 2023')}
	updatedDate={new Date('May 04 2023')}
	heroImage=""
>
	<p>
		一个前端开发工程师.
	</p>
</Layout>
