---
import Layout from '../layouts/BlogPost.astro';
import data from '../collection.json';
import FormattedDate from '../components/FormattedDate.astro';
---

<Layout
	title="读过的好文章"
	description=""
	pubDate={new Date('May 04 2023')}
	heroImage=""
>
    <ul>
        {
            data.map((post) => (
                <li>
                    <FormattedDate date={new Date(post.date)} />
                    <a href={`${post.url}`}>{post.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
