---
import Layout from '../layouts/BlogPost.astro';
import Card from '../components/Card.astro';
---

<Layout
	title="开源的项目"
	description=""
	pubDate={new Date('May 04 2023')}
	updatedDate={new Date('May 04 2023')}
	heroImage=""
>
	<div>
		<h1>Projects</h1>
		<Card 
			time={new Date('2021-05-04')}
			title="vite-plugin-env-command"
			desc="在Vite.js项目中获取package.json中scripts里指令上的参数(build:test->test)添加到环境变量中"
			link="https://github.com/yaocoding007/vite-plugin-env-command"
		/>
		<Card 
			time={new Date('2021-05-04')}
			title="insert-script-to-html-plugin"
			desc="webpack插件 可以在开发阶段去请求数据 并在构建阶段将数据插入到html中"
			link="https://github.com/yaocoding007/InsertData2htmlPlugin"
		/>
	</div>
</Layout>

